[submodule "QC_DVE_CORE/QC_DVE_CORE/pybind11"]
	path = QC_DVE_CORE/QC_DVE_CORE/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "QC_DVE_CORE/pybind11"]
	path = QC_DVE_CORE/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "QC_DVE_CORE/autodiff"]
	path = QC_DVE_CORE/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "QC_DVE_CORE/eigen"]
	path = QC_DVE_CORE/eigen
	url = https://github.com/PX4/eigen.git
